set(autostart true)

map()
    kv(dbpath "/opt/dac_apps")
    kv(appspath "/opt/dac_apps/apps")
    kv(datapath "/opt/dac_apps/data")
    kv(annotationsFile "config.json")
    kv(annotationsRegex "public\\.*")
    kv(downloadRetryMaxTimes 6)
    kv(downloadRetryAfterSeconds 30)
end()

ans(configuration)
